<div class="nav">
  <nav class="navbar navbar-expand-lg navbar-sm">
    <a class=" d-flex align-items-center" routerLink="/">
      <img src="/assets/logo.png" width="25" height="25">
    </a>

    <!--<button class="navbar-toggler p-1" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon color-main"></span>
    </button>

    <div class="collapse navbar-collapse bg-none" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item bg-none p-0 text-white" *ngFor="let nav of navs">
          <span class="nav-link" [routerLink]="nav.target"> {{ nav.description }}</span>
        </li>
      </ul>
    </div>-->
  </nav>
</div>
