
<!--<app-topbar></app-topbar>
  <div class="background">
  <i *ngFor="let icon of floatingIcons" [class]="'bi ' + icon.icon" class="floating-icon" [ngStyle]="icon.style"></i>
</div>
<div class="row">
  <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
    <img src="/assets/picture-pogi.png" width="320">
  </div>
  <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
    <div class="d-flex mb-2 align-items-center flex-column justify-content-center">
      <h1 class="p-2 mb-0">Hi! I'm Coffee,
        <span class="color-primary-1 mr-1">Code</span> <span class="color-primary-2">Coffee</span>
      </h1>
      <div class="p-2">A Filipino full-stack developer from Batangas who thrives to create more by thinking more</div>
    </div>
    <div class="d-flex stack-container align-items-center justify-content-center">
      <img class="p-1" [src]="'/assets/'+stack+'.png'" *ngFor="let stack of techStacks" width="50">
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <h2 class="p-2">Latest Projects</h2>
  </div>
</div>
<div class="row">
  <div class="col-12 p-2 col-md-6 d-flex align-items-center justify-content-center">
    <div>
      <img src="/assets/capstone.png" width="100%">
      <h2 class="d-flex align-items-center  stack-container justify-content-center">
        <span class="color-primary-1">Capstone Title</span> &nbsp;
        <span class="color-primary-2">Generator</span>
      </h2>
    </div>
  </div>
  <div class="col-12 pl-2 pr-2 col-md-6 d-flex align-items-center justify-content-center">
    <div class="stack-container pr-3 pl-3">
      <div>
        This project aims to help students who struggle to come up with capstone title in the subject matter using AI as a tool in creating suggestion.
      </div>
      <div class="d-flex justify-content-center mt-1">
        <img class="p-1" [src]="'/assets/'+stack+'.png'" *ngFor="let stack of projectStack('capstone')" width="50">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 p-2 col-md-6 d-flex align-items-center justify-content-center">
    <div>
      <img src="/assets/admin-dashboard.png" width="100%">
      <h2 class="d-flex align-items-center justify-content-center">
        <span class="color-primary-1">Admin</span> &nbsp;
        <span class="color-primary-2">Dashboard</span>
      </h2>
    </div>
  </div>
  <div class="col-12 pl-2 pr-2 col-md-6 d-flex align-items-center justify-content-center">
    <div class="stack-container pr-3 pl-3">
      <div>
        This project aims to showcase different UI approach combined with different tools used in UI as well as combination of colors and UX.
      </div>
      <div class="d-flex justify-content-center mt-1">
        <img class="p-1" [src]="'/assets/'+stack+'.png'" *ngFor="let stack of projectStack('admin-dashboard')" width="50">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 p-2 col-md-6 d-flex align-items-center justify-content-center">
    <div>
      <img src="/assets/weather-dashboard.png" width="100%">
      <h2 class="d-flex align-items-center justify-content-center">
        <span class="color-primary-1">Weather</span> &nbsp;
        <span class="color-primary-2">Dashboard</span>
      </h2>
    </div>
  </div>
  <div class="col-12 pl-2 pr-2 col-md-6 d-flex align-items-center justify-content-center">
    <div class="stack-container pr-3 pl-3">
      <div>
        This project showcases my skills in UI design, sprite images, and data visualization using weather API making it an excellent addition to my developer's portfolio.
      </div>
      <div class="d-flex justify-content-center mt-1">
        <img class="p-1" [src]="'/assets/'+stack+'.png'" *ngFor="let stack of projectStack('weather-dashboard')" width="50">
      </div>
    </div>
  </div>
</div>
-->
<router-outlet></router-outlet>
